
{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Reset{% endblock title%}
{% block main-content %}
<div class="container my-5">
    <div class="row ">
        <h3>Welcome{{request.user.username|capfirst}}</h3>
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid"><a href="{% url 'profile'%}" class="btn btn-primary">Change-password Done</a></li>
            </ul>
            </div>
            <div class="col-sm-9 offset-sm-1">
                <h3>Password Change Succesfully !!!</h3><div>
                <iframe  class="mg-5"  src="https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExYmtjdnd5cTV0bjUxYjJydWl6czJ3NXJtempsNDEyd2s4em1iY2x0byZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/78ODWqsLyca9RiyE1q/giphy.gif" width="80%" height="200" frameborder="0" class="giphy-embed" allowfullscreen></iframe>
    </div>
            </div></div>
           
    
</div>
 
{% endblock main-content %}